<component name="libraryTable">
  <library name="springframework.spring.web" type="repository">
    <properties maven-id="org.springframework:spring-web:2.5.6" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-web-2.5.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-logging-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-2.5.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-2.5.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-2.5.6.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/lib/commons-logging-1.1.1-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/lib/spring-web-2.5.6-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-logging-1.1.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-2.5.6-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-2.5.6-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/aopalliance-1.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-2.5.6-sources.jar!/" />
    </SOURCES>
  </library>
</component>